@import url('http://fonts.googleapis.com/earlyaccess/jejugothic.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


/* /////////////////////////////////////// nav ///////////////////////////////////////// */
.nav {
  width: 100vw;
  height: 7vh;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: '';
}

.logo {
  font-size: 3rem;
  letter-spacing: 3px;
}

/* link - 아직 클릭하지 않은 경우 red 색상 설정 */
.logo a:link { color: rgb(66, 66, 66); text-decoration: none;}	
/* visited - 한번 클릭하거나 전에 클릭한적 있을 경우 #c71d44 설정 */
.logo a:visited { color: rgb(66, 66, 66); text-decoration: none;}	
/* hover - 마우스를 해당 링크에 위치했을 경우 #006DD7 설정 */
.logo a:hover { color: rgb(66, 66, 66); text-decoration: none;}	

.item {
  width: 50%;
}

.nav-item {  /* item의 집합 */
  display: flex;
  width: 100%;
  height: 100%;
}

.nav-item li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  letter-spacing: 3px;
  width: 20%;
  height: 100%;
}

/* link - 아직 클릭하지 않은 경우 red 색상 설정 */
.nav-item a:link { color: white; text-decoration: none;}	
/* visited - 한번 클릭하거나 전에 클릭한적 있을 경우 #c71d44 설정 */
.nav-item a:visited { color: white; text-decoration: none;}	
/* hover - 마우스를 해당 링크에 위치했을 경우 #006DD7 설정 */
.nav-item a:hover { color: white; text-decoration: none;}	



/* ///////////////////////////////////// nav //////////////////////////////////////////// */


/* ///////////////////////////////////// main //////////////////////////////////////////// */


.main-page-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  text-align: center;
    /* font-family: 'Jeju Gothic', sans-serif; */
  font-family: 'Raleway', sans-serif;
}

.main-page-nav {
  position: absolute;
  top: 0;
}

.main-page-text {
  position: absolute;
  top: 34%;
  width: 100vw;
  z-index: 1;
  font-size: 5rem;
  color: whitesmoke;
  text-shadow: 1px 2px 3px rgba(150, 150, 150, 1);
}

/* link - 아직 클릭하지 않은 경우 red 색상 설정 */
.main-page-text a:link { color: white; text-decoration: none;}	
/* visited - 한번 클릭하거나 전에 클릭한적 있을 경우 #c71d44 설정 */
.main-page-text a:visited { color: white; text-decoration: none;}	
/* hover - 마우스를 해당 링크에 위치했을 경우 #006DD7 설정 */
.main-page-text a:hover { color: white; text-decoration: none;}	

.main-page-text-weather-weather {
  position: absolute;
  top: 46%;
  width: 100vw;
  z-index: 1;
  font-size: 2rem;
  color: whitesmoke;
  text-shadow: 1px 2px 3px rgba(150, 150, 150, 1);
}

.main-page-text-weather-temp {
  position: absolute;
  top: 52%;
  width: 100vw;
  z-index: 1;
  font-size: 2rem;
  color: whitesmoke;
  text-shadow: 1px 2px 3px rgba(150, 150, 150, 1);
}

.main-page-text-weather-humidity {
  position: absolute;
  top: 57%;
  width: 100vw;
  z-index: 1;
  font-size: 2rem;
  color: whitesmoke;
  text-shadow: 1px 2px 3px rgba(150, 150, 150, 1);
}

.stop-dragging {
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* ///////////////////////////////////// main //////////////////////////////////////////// */


/* ///////////////////////////////////// common //////////////////////////////////////////// */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ///////////////////////////////////// common //////////////////////////////////////////// */

